* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#fff, #776);
}

#canvas {
    position: sticky;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#fff, #776);
}

#titleBox {
    position: static;
    margin: auto;
    width: 100%;
    height: 10%;
    text-align: center;
}

#title {
    color: #fff;
    font-size: 70px;
    font-family: Times New Roman;
}

#buttonContainer {
    position: relative;
    margin: auto;
    width: 100%;
    height: 90%;
}

.button-box {
    position: relative;
    //padding: inherit;
    //margin: auto;
    background: #f00;
    text-align: center;
}

.button {
    width: 20%;
    height: 40%;
    font-size: 30px;
    font-family: Times New Roman;
    font-weight: bold;
    color: #fff;
}